{{$targets := targets `
Prefix: array
Type: Array
EmptyCheck: len(o.Elements) == 0
First: o.Elements[0]
Last: o.Elements[len(o.Elements)-1]

Prefix: bytes
Type: Bytes
EmptyCheck: len(o.Elements) == 0
First: IntValue(int64(o.Elements[0]))
Last: IntValue(int64(o.Elements[len(o.Elements)-1]))

Prefix: string
Type: String
EmptyCheck: len(o.Value) == 0
First: CharValue(o.At(0))
Last: CharValue(o.At(o.Len()-1))
`}}

{{range $targets}}
func {{.Prefix}}FnFirst(v Value, _ VM, name string, args []Value) (Value, error) {
	if len(args) != 0 {
		return Undefined, errs.NewWrongNumArgumentsError(name, "0", len(args))
	}
	o := (*{{.Type}})(v.Ptr)
	if {{.EmptyCheck}} {
		return Undefined, nil
	}
	return {{.First}}, nil
}

func {{.Prefix}}FnLast(v Value, _ VM, name string, args []Value) (Value, error) {
	if len(args) != 0 {
		return Undefined, errs.NewWrongNumArgumentsError(name, "0", len(args))
	}
	o := (*{{.Type}})(v.Ptr)
	if {{.EmptyCheck}} {
		return Undefined, nil
	}
	return {{.Last}}, nil
}
{{end}}
